*.xcuserstate
KeyModifier.xcodeproj/xcuserdata/Midstream.xcuserdatad/xcdebugger
build
KeyModifier.xcodeproj/project.xcworkspace/xcuserdata/Midstream.xcuserdatad
KeyModifier.xcodeproj/xcuserdata/Midstream.xcuserdatad
